
body{
  background-color:rgb(219, 198, 11);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-columns: auto auto auto;
  grid-gap: 10px 10px;
  padding: 5px; 
  /*grid-template-rows: 100px;*/
}

.grid-item{
  background-color: crimson;
  border: 3px solid black;
  /*text-align: center;*/
  /*image-orientation: 90deg;*/
  box-shadow: 3px 3px 5px black;
  text-shadow:2px 1px 4px blue;
}
.i1{
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 30px;
  text-align: center;

}
.i2{
  grid-row: 2/4;
  height: 500px;
}
.i3{
  /*grid-row: 2/4;*/
  height: 250px;
  text-align: center;
  font-size: 25px;

}
.i4{
  /*grid-row: 2/4;*/
  height: 250px;
  text-align: center;
  font-size: 25px;

}
.i5{
  /*grid-row: 2/4;*/
  grid-column-start: 2;
  grid-column-end: 4;
  /*grid-row: 3/4;*/
  height: 230px;
  padding-left: 5px;
  font-size: 25px;

}
img{
  height: 500px;
  width: 300px;
}