h3{
    color:crimson;
}
body{
    color:brown;
    background-color: rgba(255,102,178,0.5);    
}
h1{
    color:darkmagenta;
}
#rounak
{
    color:rgb(13, 3, 58);
}
p{
    border-style: solid;
    border-color:rgba(51,0,0);
}
